.header {
  position: static;
  top: 0;
  z-index: 50;
  width: calc(100% - 8rem);
  max-width: 1400px;
  margin: 2rem auto 0 auto;
  /* border-bottom: 1px solid #e5e7eb; */
  background: radial-gradient(circle at center, rgb(85, 0, 0), rgb(30, 1, 1));
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */
  border-radius: 20px;
  padding: 0;
}

.nav {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 4rem;
}

@media (min-width: 640px) {
  .nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 2rem);
    margin: 1rem auto 0 auto;
  }
  
  .nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  height: 50px;
  width: auto;
  object-fit: contain;
  display: block;
}

@media (min-width: 640px) {
  .logoImage {
    height: 80px;
  }
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
  text-decoration: none;
}

.navList {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding-right: 1rem;
  font-family: var(--font-marcellus), serif;
  font-weight: 400;
}

.navLink {
  font-size: 1.05rem;
  font-family: var(--marcellus);
  font-weight: 500;
  color: var(--color-bg);
  text-decoration: none;
  transition: color 0.2s;
}

.navLink:hover {
  color: var(--color-accent-light);
}

.navLinkActive {
  color: var(--color-accent);
}

