.hero{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #22090963, #51393423),  url('../../../../assets/Hero2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.hero h1{
  font-size: 40px;
  margin: 20PX;
}

